.itemDetail-container {
    margin-top: 50px;
    padding: 5px;
    height: 350px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #c3c3c3, -1px 0 1px #c3c3c3;
}

.itemDetail-img {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.itemDetail-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.itemDetail-info {
    border-left: 0.5px solid #c7c7c7;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemDetail-info_title {
    text-align: center;
    padding: 0px 20px;
}

.itemDetail-info_description {
    text-align: center;
    padding: 0 15px;
    font-size: 13px;
}

.itemDetail-info-price {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.itemDetail-info_category {
    text-align: center;
}


.itemDetail-links {
}

.itemDetail-counter {
    display: grid;
    justify-content: center;
}

.itemDetai-alert {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemDetai-alert p {
    text-align: center;
}

.itemDetail-alert-button {
    border: none;
    border-radius: 10px;
    background-color: rgb(15, 15, 73);
    color: #fff;
    padding: 8px 15px;
    margin: auto;
}

.lastBlack {
    text-align: center;
}

.noStockText {
text-align: center;
padding: 5px 10px;
}