.navbarMod {
    background-color: #123;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nabvarBtnBox {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}

.BorRoj {
    border: 1px solid red;
}